body {
    margin: 0;
    padding: 0;
    font-family: "Winky Sans", sans-serif;
}

#navigation {
    height: 50px;
    border-bottom: rgb(190, 188, 188) solid 7px;
}

#intro {
    height: 250px;
    background-image: url('https://bit.ly/3DZHtkv');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10%;
    display: flexbox;
    justify-content: center;
    text-align: center;
    color: azure;
}

#info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
}

.projects {
    background-color: aqua;
    padding: 5px;
}

.education {
    background-color: rgb(240, 139, 232);
    padding: 5px;
}

.experience {
    background-color: rgb(142, 247, 116);
    padding: 5px;
}

.projects p {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

#reviews {
    display: flex;
    justify-content: space-evenly;
    background-color: blueviolet;
}

.john1, .john2, .john3, .john4 {
    width: 20%;
} 